/*To Do: make game 3x4, add text, center inside text, get card to disappear once it's matched*/

#memorygame {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#heading {
	font-family: Quicksand;
	text-align: center;
	color: #a9a9a9;
}

.faceDown {
	width: 125px;
	height: 106px;
	margin: 10px;
	float: left;
	background-color: lightblue;
	border-radius: 15px;
}

.faceUp {
	width: 125px;
	height: 106px;
	margin: 10px;
	border-radius: 15px;
	float: left;
}
.removed {
	width: 125px;
	height: 106px;
	margin: 10px;
	float: left;
	background: white;
}

img {
	width: 125px;
	height: 106px;
	border-radius: 15px;
}

.resetButton {
	background: lightblue;
	color: black;
	font-size: 1.2em;
	font-family: Quicksand;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 10px;
}

.resetButton:hover {
	border: 2px solid black;
}
