/*To Do: make game 3x4, add text, center inside text, get card to disappear once it's matched*/

#memorygame {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#heading {
	font-family: Pacifico, cursive;
	text-align: center;
	color: white;
	background-color: #125688;
	font-size: 75px;
	padding-bottom: 0px;
}

body {
	background-color: #125688;
}

.faceDown {
	background-image: url(photos/insta.jpg);
	background-size: 125px 106px;
	width: 125px;
	height: 106px;
	margin: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}

.faceUp {
	width: 125px;
	height: 106px;
	margin: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 15px;
	float: left;
}
.removed {
	width: 125px;
	height: 106px;
	margin: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
	background-color: #125688;
}

img {
	width: 125px;
	height: 106px;
	border-radius: 15px;
}

.resetButton {
	background: lightblue;
	color: black;
	font-size: 1.2em;
	font-family: Quicksand;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 10px;
}

.resetButton:hover {
	border: 2px solid black;
}
